.link {
    flex: 1; /* Eşit genişlikler için */
    padding: 5px;
    background-color: rgb(237, 231, 231);
    border-radius: 5px;
    border-right: 2px solid white;
    font-size: 14px;
  
}
.linkback {
    
    background-color: rgb(237, 231, 231);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Eşit aralıklarla böl */
    width: 50%;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.link:active{
    background-color: #f4d0f2;
}

.baslik h1 {
    display: inline ;
    color: rgb(237, 231, 231);
    font-family: 'Bricolage Grotesque', sans-serif;
   
}
.baslik {
    padding-top: 1.6em;
    display: inline block;
    /* margin-top: 2em; */
    background-color: #790252;
    width: 100%;
    height: 90px;
}
.imgcontainer {
    display: flex;
    justify-content: space-between; /* Eşit aralıklarla böl */
    width: 100%;
   
}
.imgbox {
    flex: 1; /* Eşit genişlikler için */
    padding: 30px;
    margin: 20px;
    background-color: rgb(243, 243, 243) ;
    
    display: flex; 
   
    
}

.metinkutusu {
    
    /* flex: 1; */
    
}

.metinkutusu h1 {
    /* display: inline; */
    
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #790252;
    text-align: start;
}
.metinkutusu p {
    text-align: start;
   
}
.alink {
    display: inline;
    text-align: start;
}
.alink:active{
    background-color: #f4d0f2;
}

.misyon {
    display: flex;
    align-items: center;
    
    /* width: 90%; */
}
.misbox {
    flex: 1;
    text-align: justify;

}
h3 {
    color: #790252;
}

footer {
    margin: 100px;
    font-size: 13px;
}
.a1 {
    text-decoration: none;
    color: black;
}
.a1:active{
    
    color: #c02e8f;
    
}